{{! Showcase block for frontpage }}

<div id="mainbody" class="frontpage" role="main">
    {{! Each post will be output using this markup }}
    {{#foreach posts}}
    <article class="article-post {{post_class}}">
    <a href="{{url}}" class="post-link"></a>
        <div class="row">
            <div class="large-12 columns">
                <div class="inner-wrapper">
                    <div class="post_meta">
                        <time class="post_time " datetime="{{date format='MMMM DD, YYYY'}}">{{date format='MMMM DD, YYYY'}}</time>
                    </div>
                    <div class="post_header">
                        <h2 class="post_title "><a href="{{url}}">{{title}}</a></h2>
                    </div>
                    <div class="post_excerpt">
                        {{content words="0"}}
                    </div>
                </div>
            </div>
          
            <div class="readmore">
                <div class="inner"><span class="triangle"></span><a href="{{url}}" class="readmore-icon"><img src="/assets/images/readmore.svg"></a></div>
            </div>
        </div>
    </article>
    {{/foreach}}
</div>

{{!! After all the posts, we have the previous/next pagination links }}
<!--  -->