<div id="pagination">
    <div class="row">
<!--         <div class="large-4 small-3 columns text-left">
                {{#if prev}}
                    <a class="pagination_item newer_posts" href="{{pageUrl prev}}"><span class="fa fa-arrow-circle-o-left"></span> <span class="hide-for-small-only">Newer Posts</span></a>
                {{/if}}
        </div>
       <div class="large-4 small-6 large-centered columns text-center">
                <span class="pagination_item page_number">Page {{page}} of {{pages}}</span>
        </div>
        <div class="large-4 small-3 columns text-right">
                {{#if next}}
                    <a class="pagination_item older_posts" href="{{pageUrl next}}"><span class="hide-for-small-only">Older Posts</span> <span class="fa fa-arrow-circle-o-right"></span></a>
                {{/if}}
        </div> -->

        <div class="large-4 small-6 large-centered columns text-center {{#if prev}}mpagination{{/if}}">
                {{#if prev}}
                    <a class="pagination_item newer_posts" href="{{pageUrl prev}}"><span class="fa fa-arrow-circle-o-left"></span> <span class="hide-for-small-only">Newer Posts</span></a>
                {{/if}}

                {{#if next}}
                    <a class="pagination_item older_posts" href="{{pageUrl next}}"><span class="hide-for-small-only">Older Posts</span> <span class="fa fa-arrow-circle-o-right"></span></a>
                {{/if}}
        </div>
    </div>
</div>
<div class="endless" style="text-align: center; display: none;">
    <a id="loading" href="#"><span class="animate spin infinite">Loading...</span></a>
</div>