{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Showcase block for post page }}
{{> post_showcase }}

<div id="mainbody" class="post" role="main">
    <div class="row">
            {{#post}}

                <article class="{{post_class}} large-9 large-push-3 columns">
                    <div class="inner">
                        <div class="post_content">
                            {{content}}
                        </div>
                        {{> comments}}
                    </div>
                </article>

           <aside class="author-details large-3 large-pull-9 columns">
                 <div class="inner">
                      <div class="show-for-medium-up">
                            <div class="author_image large-8 columns">
                                <img src="{{author.image}}" alt="{{author.name}}">
                            </div>
                        </div>
                        <div class="large-12 columns">
                            <div class="author_name">
                                <h3>{{author.name}}</h3>
                            </div>
                            <div class="author_bio">
                                <p>{{author.bio}}</p>
                            </div>
                        </div>                
                </div>
            

            </aside>

            {{/post}}

    </div>

</div>
