{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Showcase block for post page }}
{{> post_showcase }}

<div id="mainbody" class="post" role="main">
    <div class="row">
            {{#post}}

                <article class="{{post_class}} large-9 large-push-3 columns">
                    <div class="inner">
                        <div class="post_content">
                            {{content}}
                        </div>
                        <hr>
                        <div class="post_share clearfix">
                            <ul>
                                <li><a href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
                                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><span class="fa fa-twitter"> </span> Twitter</a></li>
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><span class="fa fa-facebook"> </span> Facebook</a></li>
<!--                                 <li><a href="https://plus.google.com/share?url={{url absolute="true"}}"
                                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><span class="fa fa-google-plus"> </span> Google+</a></li> -->
                                <li><a href="http://pinterest.com/pin/create/button/?url={{url absolute="true"}}&description={{title}}"
                                   onclick="window.open(this.href, 'pinterest-share', 'width=490,height=530');return false;"><span class="fa fa-pinterest"></span> Pinterest</a></li>
                            </ul>
                            <ul class="tags">
                                <li><a href="#">Developer Workflow</a></li>
                            </ul>
                        </div>
                        <hr style="padding-bottom:30px">

                    </div>
                </article>

           <aside class="author-details large-3 large-pull-9 columns">
                 <div class="inner">
                      <div class="show-for-medium-up">
                            <div class="author_image large-8 columns">
                                <img src="{{author.image}}" alt="{{author.name}}">
                            </div>
                        </div>
                        <div class="large-12 columns">
                            <div class="author_name">
                                <h3>{{author.name}}</h3>
                            </div>
                            <div class="author_bio">
                                <p>{{author.bio}}</p>
                            </div>
                            <div class="share_social">
                                <a href="http://www.twitter.com" class="post_share_icon">
                                <span class="fa fa-twitter-square"></span>
                                </a>
                                <a href="http://www.facebook.com">
                                    <span class="fa fa-facebook-square"></span>
                                </a>
                                <a href="http://google.com" class="post_share_icon">
                                    <span class="fa fa-google-plus-square"></span>
                                </a>
                                <a class="post_share_icon" href="http://www.pinterest.com">
                                    <span class="fa fa-pinterest-square"></span>
                                </a>
                                <a class="post_share_icon" href="http://www.youtube.com">
                                    <span class="fa fa-youtube-square"></span>
                                </a>
                                <a class="post_share_icon" href="http://www.rss.com">
                                    <span class="fa fa-rss-square"></span>
                                </a>
                            </div>
                        </div>
                </div>


            </aside>
                <div class="large-9 columns">
                {{> comments}}
                </div>
            {{/post}}

    </div>

</div>
