<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Social Cards -->
    <meta property="og:site_name" content="{{meta_title}}">
    <meta property="og:url" content="{{@blog.url}}" />
    <meta property="og:title" content="Apollo" />
    <meta property="og:description" content="{{@blog.description}}" />
    {{#if @blog.logo}}
    <meta property="og:image" content="{{@blog.logo}}" />
    {{/if}}
    <meta property="og:type" content="website">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@sites_twitter_handle">
    <meta name="twitter:creator" content="@authors_twitter_handle">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{@blog.description}}">
    {{#if @blog.logo}}
    <meta name="twitter:image:src" content="{{@blog.logo}}">
    {{/if}}

    {{! JavaScript & CSS Files }}
    <link rel="stylesheet" href="{{asset "css/main.css"}}" />
    <link rel="stylesheet" id="theme_stylesheet" href="{{asset "css/default.css"}}" />
    <link rel="stylesheet" id="custom-stylesheet-css" href="{{asset "css/custom.css"}}" />
    <link rel="stylesheet" href="{{asset "css/switcher.css"}}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="{{asset "vendor/modernizr/modernizr.js"}}"></script>
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
    <div id="page_surround" class="off-canvas-wrap">
        <div class="inner-wrap">
            {{! Off-Canvas section }}
            {{> off_canvas }}

            {{! The main sections of Mjolnir theme }}
            {{> header }}
            {{{ body }}}
            {{> footer }}

            {{! Close the off-canvas menu when opened }}
            <a class="exit-off-canvas"></a>
        </div>
    </div>
   <!-- ADD Switcher -->
            <div class="demo_changer">
                <div class="demo-icon"><i class="fa fa-cog"></i></div>
                <div class="form_holder">
                    <p>CHOOSE YOUR STYLE</p>

                    <p>Please choose a style</p>

                    <div class="predefined_styles">
                        <a href="" rel="?default=true" class="styleswitch"><img src="/assets/images/switcher/purple.jpg" alt=""></a>
                        <a href="" rel="/assets/css/red.css" class="styleswitch"><img src="/assets/images/switcher/red.jpg" alt=""></a>
                        <a href="" rel="/assets/css/green.css" class="styleswitch"><img src="/assets/images/switcher/green.jpg" alt=""></a>
                        <a href="" rel="/assets/css/blue.css" class="styleswitch"><img src="/assets/images/switcher/blue.jpg" alt=""></a>
                        <a href="" rel="/assets/css/pink.css" class="styleswitch"><img src="/assets/images/switcher/pink.jpg" alt=""></a>
                    </div>
                    <span><a rel="stylesheet" class="styleswitch reset-btn" href="?default=true">RESET STYLE</a></span>
                </div>
            </div>
    <!-- END Switcher -->
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Mjolnir }}
    <!-- build:js /assets/js/main.js -->
    <script type="text/javascript" src="{{asset "vendor/foundation/js/foundation.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/cookie.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/fswit.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/highlight.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/lazyload.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/bgcheck.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/sticky.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/midway.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>
    <!-- endbuild -->

</body>
</html>