<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Social Cards -->
    <meta property="og:site_name" content="{{meta_title}}">
    <meta property="og:url" content="{{@blog.url}}" />
    <meta property="og:title" content="Apollo" />
    <meta property="og:description" content="{{@blog.description}}" />
    {{#if @blog.logo}}
    <meta property="og:image" content="{{@blog.logo}}" />
    {{/if}}
    <meta property="og:type" content="website">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@sites_twitter_handle">
    <meta name="twitter:creator" content="@authors_twitter_handle">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{@blog.description}}">
    {{#if @blog.logo}}
    <meta name="twitter:image:src" content="{{@blog.logo}}">
    {{/if}}


    {{! JavaScript & CSS Files }}
    <link rel="stylesheet" href="{{asset "css/main.css"}}" />
    <link rel="stylesheet" id="theme_stylesheet" href="{{asset "css/default.css"}}" />
    <link rel="stylesheet" id="custom-stylesheet-css" href="{{asset "css/custom.css"}}" />
    <script type="text/javascript" src="{{asset "vendor/modernizr/modernizr.js"}}"></script>
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
    <div id="page_surround" class="off-canvas-wrap">
        <div class="inner-wrap">
            {{! Off-Canvas section }}
            {{> off_canvas }}

            {{! The main sections of Mjolnir theme }}
            {{> header }}
            {{{ body }}}
            {{> footer }}

            {{! Close the off-canvas menu when opened }}
            <a class="exit-off-canvas"></a>
        </div>
    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Mjolnir }}

    <script type="text/javascript" src="{{asset "vendor/foundation/js/foundation.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/scripts.js"}}"></script>


</body>
</html>