{{! This partial will list a post excerpt using the 'excerpt' theme helper in Ghost }}
<article class="hentry {{post_class}} clearfix">
    <div class="post-info fivecol first">
         <header class="h2 article-header post-title">
            <a href="{{url}}" rel="bookmark">{{title}}</a>
        </header>

        <p class="byline vcard">
            <time class="updated" datetime="2012-05-03">
                <span class="date">{{date published_at format="MMMM DD, YYYY"}}</span> by <strong>{{author.name}}</strong>
            </time>
        </p>

        <hr>

        <nav class="post-paginate">
            <ul>
                <li><a href="#" class="prev-btn"><div data-icon="c" class="next-prev prev icon"></div> Previous</a></li>
                <li><a href="#" class="next-btn"><div data-icon="d" class="next-prev next icon"></div> Next</a></li>
            </ul>
        </nav>
    </div>
    <div class="sevencol">
        <section class="entry-content clearfix">
            <div class="featured"><a class="comments" href="{{url}}#disqus_thread" data-disqus-identifier="{{id}}">0 Comments</a></span></div>
            {{content words="100"}}
            <p><a href="{{url}}" class="read-more">Continue Reading...</a></p>
        </section>
        
    </div>

</article> <!-- end list article  -->
